
//saat girdisi tanmlama
NET "clk" LOC = "b8"; 
//7 segment pinlerini tanmla
NET "sseg_o<0>" LOC = "L14";
NET "sseg_o<1>" LOC = "H12";
NET "sseg_o<2>" LOC = "N14";
NET "sseg_o<3>" LOC = "N11";
NET "sseg_o<4>" LOC = "P12";
NET "sseg_o<5>" LOC = "L13";
NET "sseg_o<6>" LOC = "M12";
NET "sseg_o<7>" LOC = "N13";
//anot pinlerini tanmla
NET "anodes<3>" LOC = "K14";
NET "anodes<2>" LOC = "M13";
NET "anodes<1>" LOC = "J12";
NET "anodes<0>" LOC = "F12";
//switch pinlerini tanmla
NET "number<3>" LOC = "N3";
NET "number<2>" LOC = "E2";
NET "number<1>" LOC = "F3";
NET "number<0>" LOC = "G3";